/** Global CSS goes here... **/
/* @import url('https://fonts.googleapis.com/css?family=Exo+2:400,700,800'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  width: 100%;
height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background: #160437;
  letter-spacing: 2px;
  font-size: 15px;
}

h1,h2,h3{
    line-height: 1.4em;
    margin-bottom: 0.6em;
    font-weight: 700;
    color: #FFF;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}
