
.home-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-bottom: 60px;
  align-items: center;
}

.home-section h1 {
  margin: 0;
  text-align: center;
  padding: 0;
  color: #ffaf38;
  text-transform: uppercase;
  font-size: 1.8em;
}

.home-section h2 {
  margin: 0;
  text-align: center;
  padding: 0;
  color: #6A88FF;
  text-transform: uppercase;
  font-size: 1em;
}

.loader {
  width: 22px;
  height: 22px;
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.box-text-area {
  flex-direction: row;
  width: 70%;
  box-sizing: border-box;
  color: #dec8ff;
}

.box-text {
  padding: 15px 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-image: linear-gradient( 0deg, rgba(101,37,204,0.2) 0%, rgba(255,255,255,0.2) 100%);
  color: #dec8ff;
}

.box-text-alert {
  padding: 15px 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-image: linear-gradient( 0deg, rgba(17, 118, 177, 0.2) 0%, rgba(64, 211, 255, 0.2) 100%);
  color: #a1f1fe;
}

.box-crystal {
  display: flex;
  margin: 0 0 0 5%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.crystal-area {
  width: 100%;
  position: relative;
  top: -30px;
}

.crystal img {
  width: 100%;
}

.main-button {
  position: absolute;
  min-width: 300px;
  bottom: 3%;
  left: 24%;
  padding: 15px 40px;
  border-radius: 50px;
	font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
	font-size: 25px;
  font-weight: 700;
	color: #FFF;
  border: 0;
	text-decoration: none;
  box-shadow: 0 -2px 21px #ffffffb0;
  background-color: #ff0779;
	border-bottom: 5px solid #980247;
	text-shadow: 0px -2px #BD3E31;
  outline: none;
  cursor: pointer;
}

.main-button:active {
  transform: translate(0px,2px);
  -webkit-transform: translate(0px,2px);
	border-bottom: 1px solid #000;
}

.total-pot {
  background: #0000005e;
  padding: 2% 5%;
  margin: 20px 0 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}


@media only screen and (max-width: 480px) {
  .home-section {
    flex-direction: column-reverse;
    width: 100%;
  }

  nav {
    flex-direction: column;
  }

  .box.left, .box.right {
    margin: 0;
    height: auto;
    width:100%;
  }

.main-button {
  left: 13%;
}

}
