.App {
  background-image: url(../common/assets/lava-bg5.jpg);
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .main-content {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
