.header-section {
  padding: 0 30px;
}

.header-section h1 {
  color: white;
}

.header-section nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-section nav h1 {
  margin: 0;
  padding: 0;
}

.header-section nav .links {
  display: flex;
}

.header-section nav .links > a {
  margin-right: 20px;
  color: #c086ec;
  text-transform: uppercase;
}

.header-section nav .account {
  color: aquamarine;
}

.header-section nav .links > *:last-child {
  margin-right: 0;
}

.header-section .header-title {
  font-size: 1.75em;
}

.header-section .header-logo {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -90px;
}
